@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);

button:disabled {
	opacity: 0.5;
}

#ribbon-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 190px;
  width: 190px;
}

#ribbon {
  pointer-events: all;
  z-index: 2;
  position: relative;
  right: -30px;
  top: 30px;
  white-space: nowrap;
  transform: rotate(45deg);
}

#ribbon a {
  padding: 0 40px;
  background-color: white;
}

